/*Google font import */
/*
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel:wght@400;500;600;700;800;900&family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*/

/* wildcard selector to override default setting using  the  Asterisk selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body  style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style  text color for the body*/
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  h1 headding  */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
    text-align: right;
    color: #ffffff;
}




/* Header */
header {
    background-color: #44653f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px black;
    display: flex;
    /* default  is row */
    justify-content: space-between;
    align-items: baseline;

}

/* parent header anchor descendants text decoration none */

header a {

    text-decoration: none;
    /* inherit color from body */
    /* color: inherit; */
    color: white;
}





/*style the unordered list */
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;


}

/*space out list items apply margin  bottom  */
#menu li {
    margin-bottom: 1em;

}

/*  class active display to the user where they are on website*/
.active {
    border-bottom: 1px solid #ffffff;
}



/* navbar style with drop down toggle */
nav {
    position: absolute;
    background-color: #44653f;
    /* background-color: white; */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /*top of the element start at bottom of parent*/
    top: 100%;
}

/* navbar toggle */

/* checked we want the nav sibling element to display
 tilde to  target a joining element */
#nav-toggle:checked~nav {
    display: block;

}

/*hide the checkbox */
#nav-toggle {
    display: none;

}

/*make the label larger  */

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
}



/* Main */
main {


    /*main element take up surplus space should not shrink  when the screen is too small*/
    flex: 1 0 auto;
    margin-top: 47px;


}

/* hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/tennis-image1.jpg") no-repeat center center/cover;
    position: relative;

}


#cover-text {
    /* set the opacity semi-transparent */
    font-size: 120%;
    position: absolute;
    top: 1.875rem;
    /* 10px /16px */
    width: 80%;
    right: 30px;
    min-height: 100px;
    padding: 10px;

}



#cover-text h2 {
    font-size: 3em;
    text-transform: lowercase;
    color: #ffffff;
    opacity: 0.7;
}



#cover-text>p {
    font-size: 1em;
    font-weight: 600;
    text-transform: lowercase;
    color: #ffffff;
}




 /* HOME page tennis container 3 columns */

.text h2 {
    margin-bottom: 1rem;
    color: #44653f;
    text-align: center;
}



.tennis-container {
    border: 1px solid black;
    margin: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 1rem;

}

.tennis {
    border: 1px solid black;
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 5px;
}



.tennis-item1 {
    background-color: #addca5;
    color: #000000;
}

.tennis-item2 {
    background-color: #44653f;
    color: #ffffff;
}

.tennis-item3 {
    background-color: #addca5;
    color: #000000;
}





/* Tennis gallery */

#tennis-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

#tennis-container h2 {
    text-align: center;
    text-transform: capitalize;
    color: #44653f;


}

#tennis-image img {
    width: 100%;


}

#tennis-image {
    line-height: 0;
}

img:hover {
    cursor: pointer;
    opacity: .5;
    transition: 0.3s;
}



/*    Contact  Form*/
body {
    /* background-color: #44653f; */
    color: #000000;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;

}

/* container */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

/* unordered list*/

ul {
    list-style: none;
    padding: 0;

}

/*  brand tennis club */

.brand {
    text-align: center;
}

.brand span {
    color: #44653f;
}

/*  wrapper give box-shadow */
.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 116, 94, 0.7);
}

/* wrapper all the direct elements inside the wrapper padding */


.wrapper>* {

    padding: 1rem;
}

/* have a look at the html ?  */
.company-info {
    background: #addca5;
}

/* align info  to the center */

.contact-info h3,
.contact-info ul {
    text-align: center;
    color: #000000;
    margin: 0 0 1rem 0;

}

.contact {
    background: #addca5;
}

/*Form Styles   */
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* display as block  */
.contact form label {
    display: block;
}

/*  contact form paragraph margin */
.contact form p {
    margin: 0;
}


.contact form .full {
    grid-column: 1 / 3;

}

/* set the width*/

.contact form button,
.contact form input,
.contact form textarea {

    width: 100%;
    padding: 1rem;
    border: 1px solid #addca5;
}

/* style the button */

.contact form button {
    background: #44653f;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {

    background: #addca5;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;

}




/* Footer */
#social-networks {
    background-color: #44653f;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* target i icons descendants*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;

}






/* media queries large amd landscape phones(576px and up */
@media screen and (min-width:576px) {
    #tennis-image {
        column-count: 2;
        column-gap: 0;
    }

    .tennis {
        font-size: 1.5rem;
        flex-wrap: wrap;
        column-count: 2;
        column-gap: 5px;

    }

    

}


/* media queries : tablets and larger 768px and uo  */
@media screen and (min-width:768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /*menu items side by side */
    #menu {
        display: flex;

    }

    /*add space between the links*/

    #menu>li {

        font-size: 1.5rem;
        padding-left: 1rem;
    }

    /* hide the X from the navbar */

    .nav-toggle-label {
        display: none;
    }

    /*increase the size of logo  */
    #logo {
        font-size: 225%;
        line-height: 65px;
        margin: 0 0.25rem;
        color: #ffffff;

    }

    /* main content pushed down because of larger header */
    main {

        margin-top: 65px;
    }

    /* hero */
    #cover-text {
        width: 400px;
        margin-top: 0.625rem;
        padding-top: 1.25rem;
        padding-left: 0.9375rem;


    }

    /* covert text for tablets and larger */

    h2 {
        font-size: 3rem;
        text-transform: lowercase;
    }

    p {
        font-size: 1rem;

    }




    /*text container h3 */
    .text-container {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    .text h2 {
        font-size: 2rem;
    }


    /* Tennis 3 column home page */




    /*Tennis image gallery */
    #tennis-image {
        column-count: 3;

    }

    /* media queries contact form */

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2rem;
    }

    .company-info h3,
    .company-info ul {
        text-align: left;
    }


}



/*large  laptop and desktop 992px and up */

@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid black;
    }

    #cover-text {
        margin-left: 40px;
        margin-top: 10px;
    }


    .text h2 {
        font-size: 3rem;

    }

    

    /* tennis container 

    .tennis-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }


    .tennis-container .tennis {
        margin: 5px;
        flex-basis: 40%;

    }

    .tennis-container .tennis:last-child {
        flex-basis: 100%;
        margin: 0;
    }

    .tennis-container .tennis:nth-last-child(2) {

        margin-right: 0;
    }


  

    /* Tennis Gallery */

    #tennis-image {
        column-count: 4;
    }






}