/*Google font import */
/*
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel:wght@400;500;600;700;800;900&family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*/

/* wildcard selector to override default setting using  the  Asterick selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body  style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style  text color for the body*/
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  h1 headding  */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
    text-align: right;
    color: #ffffff;
}




/* Header */
header {
    background-color: #344e41;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px black;
    display: flex;
    /* default  is row */
    justify-content: space-between;
    align-items: baseline;

}

/* parent header anchor decendants text decoration none */

header a {

    text-decoration: none;
    /* inherit color from body */
    /* color: inherit; */
    color: white;
}





/*style the unordered list */
#menu {
    font-size: 90%;
    letter-spacing: 1px;
    list-style-type: none;


}

/*space out list itens apply margin  bottom  */
#menu li {
    margin-bottom: 0.5em;

}

/*  class active display to the user where they are on website*/
.active {
    border-bottom: 1px solid #ffffff;
}



/* navbar style with drop down toggle */
nav {
    position: absolute;
    background-color: #386641;
    /* background-color: white; */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px black;
    display: none;
    /*top of the element start at bottom of parent*/
    top: 100%;
}

/* navbar toggle */

/* checked we want the nav sibling element to display
 tilde to  target ajoining ekement */
#nav-toggle:checked~nav {
    display: block;

}

/*hide the checkbock */
#nav-toggle {
    display: none;

}

/*make the lable larger  */

.nav-toggle-label {
    font-size: 1.5rem;
    /*  */
    color: #ffffff;
}



/* Main */
main {


    /*main element take up surplus space should not shrink  when the screen is too small*/
    flex: 1 0 auto;
    margin-top: 47px;


}

/* hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/tennisballswirl.jpg") no-repeat center center/cover;
    position: relative;

}


#cover-text {
    /* set the opacity semi-transparent */
    font-size: 120%;
    position: absolute;
    bottom: 0.625rem;
    /* 10px /16px */
    leftt: 125%;
    /*(20px /16px ) * 100 */
    width: 200px;
    min-height: 100px;
    padding: 10px;

}

#cover-text h2 {
    font-size: 3em;
    text-transform: lowercase;
    color: #ffffff;
}

#cover-text>p {
    text-transform: lowercase;
    color: #ffffff;
}



/* tennis gallery */

#tennis-container {
    display: flex;
    flex-direction: column;


}

#tennis-container h2 {
    text-align: center;
    text-transform: capitalize;
    color: #008000;


}

#tennis-image img {
    width: 100%;


}

#tennis-image {
    line-height: 0;
}

img:hover {
    opacity: .5;
    transition: .3s;
}



/* Contact Us */
/*
.form-container {
    display: flex;
}
*/

/* Footer */
#social-networks {
    background-color: #386641;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* target i icons decendents*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;

}


/* media queries large amd landscape phomes(576px and up */
@media screen and (min-width:576px) {
    #tennis-image {
        column-count: 2;
        column-gap: 0;
    }
}


/* media queries : tablets and larger 768px and uo  */
@media screen and (min-width:768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /*menu items side by side */
    #menu {
        display: flex;

    }

    /*add space beteen the links*/

    #menu>li {

        font-size: 1.5rem;
        padding-left: 1rem;
    }

    /* hide the X from the navbar */

    .nav-toggle-label {
        display: none;
    }

    /*increase the size of logo  */
    #logo {
        font-size: 225%;
        line-height: 65px;
        margin: 0 0.25rem;
        color: #ffffff;

    }

    /* main content pushed down beacuse of larger header */
    main {

        margin-top: 65px;
    }

    /* hero */
    #cover-text {
        width: 400px;
        margin-top: 0.625rem
            /*10px /16px */
            padding-top: 1.25rem;
        /* 20px/ 16px */
        padding-left: 0.9375rem;
        /* 15px / 16px */

    }

    /* covert text for tablets and larger */

    h2 {
        font-size: 3rem;
        text-transform: lowercase;
    }

    p {
        font-size: 1rem;

    }




    /*text container h3 */
    .text-container {

        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .text h2 {
        font-size: 2rem;
    }



    .tennis-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


    }

    .tennis {

        padding: 1.25rem;
        /*20px / 16px */
        margin: 1.25rem;

    }

    /* tennis iten 1 */
    .tennis-item1 {
        flex-basis: 30%;
        flex-grow: 1;
    }


    /* tennis item 2 */
    .tennis-item2 {
        flex-basis: 30%;
        flex-grow: 1;
    }

    /* tennis item 3 */
    .tennis-item3 {
        flex-basis: 30%;
        flex-grow: 1;
    }

    /* tennis container paragraph */
    .tennis p {
        color: black;
    }


    /*tennis image gallery */
    #tennis-image {
        column-count: 3;

    }


}



/*large  laptop and desktop 992px and up */

@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid black;
    }

    #cover-text {
        margin-left: 40px;
        margin-top: 10px;
    }


    .text h2 {
        font-size: 3rem;
    }


    /* tennis container */
    .tennis-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }




    /* tennis items  */
    .tennis {

        padding: 2rem;
        /*20px / 16px */
        margin: 2rem;

    }

    /* tennis iten 1 */
    .tennis-item1 {
        flex-basis: 30%;
        flex-grow: 1;
    }


    /* tennis item 2 */
    .tennis-item2 {
        flex-basis: 30%;
        flex-grow: 1;
    }

    /* tennis item 3 */
    .tennis-item3 {
        flex-basis: 30%;
        flex-grow: 1;
    }


    /* tennis gallery */

    #tennis-image {
        column-count: 4;
    }






}