/*Google font import */

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel:wght@400;500;600;700;800;900&display=swap');


/* wildcard selector to override default setting using  the  Asterick selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body  style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style  text color for the body*/
    color: black;
    font-family: 'Castoro Titling', serif;

}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px black;
    display: flex;
    /* deflute  is row */
    justify-content: space-between;
    align-items: baseline;

}

/* parent header anchor decendants text decoration none */

header a {

    text-decoration: none;
    /* inherit color from body */
    color: inherit;
}

/*  h1 headding */

h1 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    /*-spacing: 1px;*/
    color: black;
}

/*style the unordered list */
#menu {
    font-size: 90%;
    letter-spacing: 1px;
    list-style-type: none;
}

/*space out list itens apply bargin  bottom  */
#menu>li {
    margin-bottom: 0.5em;

}

/*  class active display to the user where they are on website*/
.active {
    border-bottom: 1px solid black;
}

/* navbar styke with drop down toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px black;
    display: none;
    /*top of the element start at bottom of parent*/
    top: 100%;
}

/* navbar toggle */

/* checked we want the nav sibling element to display
 tilde to  target ajoining ekement */
#nav-toggle:checked~nav {
    display: block;

}

/*hide the checkbock */
#nav-toggle {
    display: none;

}

/*make the lable larger  */

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Main */
main {
    background-color: lightblue;

    /*main element take up surplus space should not shrink  when the screen is too small*/
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: orange;
}